<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Deliverzes</title>
    <meta name="description"
          content="Deliverzes is courier delivery message, transforming your http request to telegram bot chat."
          property="description">
    <meta name="keywords" content="webhook, bot, telegram, platform" property="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1" property="viewport">
    <link rel="icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="./res/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="./res/styles.css">
</head>
<body>
<div class="bg-image"></div>
<div id="app">
    <div id="loading" class="loading-state" style="display: none;"></div>
    <div>
        <section>
            <div class="floating-signup__wrap col-xs-12 col-md-6 col-xs-offset-0 col-md-offset-3 floaty-vertical--middle floaty-horizontal--center floaty-unfloat-at--xs">
                <div class="floating-signup rel">
                    <div class="container-fluid rel">
                        <div class="row">
                            <div class="user-signup__intro">
                                <h1 style="text-align: center;">Deliverzes</h1>
                                <p style="text-align: center;">
                                    <img src="/res/spacer.png" alt=""
                                         class="spacer insert--image wrap-off-align-center"><br>
                                </p>
                                <p style="text-align: center;">Easily transform your http request to telegram bot</p>
                                <p style="text-align: center;">
                                    <img src="/res/clean-hr.png" alt=""
                                         class="clean-hr insert--image wrap-off-align-center">
                                    <span style="font-size: 14px;">Generate your #channel-id (ex: personal-assistant, robot-ex-01)</span>
                                </p>
                            </div>
                        </div>
                        <div v-if="isGenerated == false" class="row" >
                            <form class="form form-horizontal user-signup__form" name="form" novalidate=""
                                  action="//adrienjoly.us12.list-manage.com/subscribe/post?u=c1cfafd58fc9699f6d5a661e2&amp;id=a586ea22ee"
                                  method="POST">
                                <div class="mt-table--full">
                                    <div class="mt-td--centered-vertical user-signup__col-1">
                                        <div class="user-signup__form-group m-lg-v form-group col-sm-12">
                                            <input type="text" name="subscription_id"
                                                   v-model="subscriptionId"
                                                   class="form-control form-control__input user-signup__email"
                                                   pattern="/^[a-zA-Z0-9+-_]+(\.[_a-zA-Z0-9+]+)*@[a-zA-Z0-9+-_]+(\.[a-zA-Z0-9+-_]+)*(\.[a-zA-Z]+)$/"
                                                   placeholder="Channel ID" aria-required="true" required="required">
                                        </div>
                                    </div>
                                    <div class="mt-td--centered-vertical user-signup__col-2">
                                        <div class="user-signup__form-group m-lg-v form-group text-center">
                                            <button v-on:click="onGenerateSubscription" type="button" class="btn btn-default submit user-signup__submit">
                                                <span>Generate Token</span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div v-else>
                            <div class="row">
                                <form class="form form-horizontal user-signup__form" name="form" novalidate="">
                                    <div class="mt-table--full">
                                        <div class="mt-td--centered-vertical user-signup__col-1">
                                            <div class="user-signup__form-group m-lg-v form-group col-sm-12">
                                                <input type="text" name="subscription_id"
                                                       v-model="subscriptionChannel"
                                                       disabled
                                                       class="form-control form-control__input user-signup__email"
                                                       pattern="/^[a-zA-Z0-9+-_]+(\.[_a-zA-Z0-9+]+)*@[a-zA-Z0-9+-_]+(\.[a-zA-Z0-9+-_]+)*(\.[a-zA-Z]+)$/"
                                                       placeholder="Channel ID" aria-required="true" required="required">
                                            </div>
                                        </div>
                                        <div class="mt-td--centered-vertical user-signup__col-2">
                                            <div class="user-signup__form-group m-lg-v form-group text-center">
                                                <button type="button" class="btn btn-default user-signup__submit">
                                                    <span>Channel ID</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <form class="form form-horizontal user-signup__form" name="form" novalidate="">
                                    <div class="mt-table--full">
                                        <div class="mt-td--centered-vertical user-signup__col-1">
                                            <div class="user-signup__form-group m-lg-v form-group col-sm-12">
                                                <input type="text" name="subscription_id"
                                                       v-model="subscriptionUrl"
                                                       disabled
                                                       class="form-control form-control__input user-signup__email"
                                                       placeholder="Webhook URL" aria-required="true" required="required">
                                            </div>
                                        </div>
                                        <div class="mt-td--centered-vertical user-signup__col-2">
                                            <div class="user-signup__form-group m-lg-v form-group text-center">
                                                <button type="button" class="btn btn-default user-signup__submit">
                                                    <span>Webhook URL</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<a href="https://github.com/aeidelos/deliverzes"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                      src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
                                                      alt="Fork me on GitHub"
                                                      data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-1858235-15', 'auto');
    ga('send', 'pageview');
</script>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            subscriptionId: '',
            subscriptionChannel: '',
            subscriptionUrl: '',
            isGenerated: false,
        },
        methods: {
            async onGenerateSubscription() {
                try {
                    const call = await axios.post('/create', {
                        subscriber_name: this.subscriptionId
                    });
                    const res = call.data;
                    if (res.status == false) {
                        window.alert(res.message)
                        return
                    }
                    this.subscriptionChannel = res.SubId;
                    this.subscriptionUrl = res.Url;
                    this.isGenerated = true;
                } catch (e){
                    console.log(e);
                    window.alert("failed to generate");
                }
            }
        }
    });
</script>
</html>
